.diferenciales{
    background-color: var(--background-gris-clarito);

    padding-top: 1.5rem;
    padding-bottom:2rem;

}

.diferenciales__lista{
    color: var(--fuente-gris-oscuro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
}

.diferenciales__item{
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 0 1rem 3.5rem;
    background-repeat: no-repeat;
    background-position: top 1.25rem left .5rem;
}

.item__titulo{
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;

}

.item__texto{
    line-height: normal;
    margin: 0 auto 1.5rem
    
}

.diferenciales__item-reloj{
    background-image: url(../img/icono-reloj.png);
}

.diferenciales__item-creatividad{
    background-image: url(../img/icono-creatividad.png);
}

.diferenciales__item-dinero{
    background-image: url(../img/icono-dinero.png);
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .item__titulo  {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .item__titulo  {
        font-size: 1.7rem;
    }
}
