.experiencia{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.3rem;

}

.experiencia__titulo-principal{
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    padding: .5rem;
}

.experiencia__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.experiencia__contenido{
    height: 20%;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
}

.experiencia__imagen{
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
}

.experiencia__titulo{
    font-weight: 700;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
    margin: .5rem;
}

.experiencia__texto{
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
    margin-left: .5rem;

}

.boton__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: .5rem;
}
.experiencia__repositorio-boton{
    color:#2A7AE4;
    text-align: center;
    background: #fdfdfd;
    
 
}

.experiencia__link-boton{
    color: #fdfdfd;
    background: #2A7AE4;
    text-align: center;

    
}