.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    background: var(--background-gris-clarito);
    color: var( --fuente-gris-oscuro);
}

.footer__aplicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desarrollado{
    align-items: center;
    font-size: 1rem;
}