.head{
    width: 100%;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    padding:.5rem;

    border-bottom: 1px solid #4F4C4C;
    
    position: fixed;
    background-color: #ffffff;
    z-index:1000;
}

.head__logo{
    
    margin:.5rem ;
    width: 90px;

}

.head__navegacion{
    text-align: center;
    
}

.head__enlace{
    color: var(--fuente-gris-oscuro);
    font-size: 1.1rem;
    font-weight: 400;
    
    display: inline-block;
    margin:.5rem .5rem .5rem 0;
}

.head__enlace--activo{
    color: var(--fuente-ceniza-oscuro);
    font-weight: bold;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

@media screen and (min-width: 1024px) {
    .head {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}