.head{
    width: 100%;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: .90rem;
    padding-bottom: .90rem;

    border-bottom: 1px solid #4F4C4C;
    
    position: absolute;
}

.head__logo{
    margin:.5rem ;
    width: 90px;

}

.head__navegacion{
    text-align: center;
    
}

.head__enlace{
    color: var(--fuente-gris-oscuro);
    font-size: 1.1rem;
    font-weight: 400;
    
    display: inline-block;
    margin:.5rem .5rem .5rem 0;
}
