.sobre_mi{
    background-color: var(--background-azul-claro);
    padding-top: 4rem;
    padding-bottom: 3rem;
    
}

.sobre_mi__contenido{
    color: var(--fuente-gris-oscuro);
    text-align: justify;
}

.sobre_mi__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 4rem;
    

}

.sobre_mi__texto{
    line-height: normal;
    margin: 0 auto 1.5rem
}

.sobre_mi__texto--destacado {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sobre_mi__titulo{
        font-size: 1.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .sobre_mi{
        padding-bottom: 5rem;
    }
    .sobre_mi__titulo{
        font-size: 1.7rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        
    }
}